<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <a href="/"><img id="logo" src="{{ url_for('static', filename='logo.png') }}" /></a>
        </div>
        <div id="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>