{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='nv.d3.min.css') }}" type="text/css" rel="stylesheet">
{% endblock%}

{% block content %}
    <h1>Report</h1>
    
    <div id="controls">
        
    </div>
    
    {% for result in results.questions %}
        <div id="{{ result['unique_id'] }}" class="response {{ result['type'] }}">
            <h2><a href="/survey/{{ survey_id }}/question/{{ result['unique_id'] }}">
                {{ result['question'] }}
            </a></h2>
            <select name="view-change" class="view-change">
            </select>
            
            <div class="chart {{ result['type'] }}">
                <svg height="300px"></svg>
            </div>
        </div>
    
    {% endfor %}
    
    <script src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='nv.d3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='d3.layout.cloud.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='visualize.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            updater = new Updater('{{ survey_id }}', 10000);
            
            {% for result in results.questions %}
                updater.attach(
                    '{{ result['unique_id'] }}', 
                    '{{ result['question'] }}', 
                    '{{ result['type'] }}',
                    null);
            {% endfor %}
            
            updater.start();
        });
    </script>
{% endblock %}